@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body {
	font-family: "Open Sans";
	font-size: 14px;
	background: #fff;
	padding-left:20%;
	padding-right:20%
}

.ibc_fba table{
	background: #E6F1F6;
	color: #4E575B;
	width: 100%;
	padding: 0px;
	border: 1px solid #B7C7CF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.ibc_fba th{
	color: #333
}

.ibc_fba td{
	background: #F8F8F8;
	color: #767676
}

.ibc_fba th, .ibc_fba td{
	padding: 5px
}

.ibc_fba td.root{
	background: #fff;
	font-weight: bold;
	text-align: left
}

.ibc_fba td.name, .ibc_fba th.name {
	text-align: left
}

.ibc_fba td.size, .ibc_fba th.size, .ibc_fba td.modif, .ibc_fba th.modif {
	text-align: right
}

.ibc_fba a {
	color: #4078C0;
	text-decoration: none
}

.ibc_fba .rfile,.ibc_fba .sub {
	font-family: "Open Sans";
	color: #4078C0
}


.ibc_fba .fa {
	cursor: pointer
}

.ibc_fba .fa-folder {
	color: #80A6CD
}

.ibc_fba .fa-file-text-o {
	color: #767676
}

.ibc_fba .fa-cloud-download {
	color: #ea97f4
}

.ibc_fba .fa-reply {
	color: #ccc
}

#ibc_fba_file .pan_code {
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	color: #8A6D3B;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.CodeMirror {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	line-height: 1.3;
	height: 400px;
	text-align:left
}

.CodeMirror-linenumbers {
	padding: 0 8px;
}

@media (min-width:768px)and (max-width:991px) {
    body {
		padding-left:10%;
		padding-right:10%
	}
}

@media (min-width:320px)and (max-width:768px) {
    body {
		padding-left:5%;
		padding-right:5%
	}
}
